@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

body {
    font-family: "Noto Sans KR", sans-serif;
    color: #1d2e36;
    font-size: 16px;
}

.container{
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #e1e8ec;

}

.login_wrapper {
    width: 800px;
    height: 600px;
    background-color: white;
    display: flex;
}



    .contents {
        width: 480px;
        height: 600px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 70px 107px 80px 107px;
        box-sizing: border-box;
      }

      .photo {
        width: 320px;
        height: 600px;
      }

      .top {
        /* display: flex; */
        /* flex-direction: column; */
        text-align: center;
      }

      .top h2 {
        font-size: 36px;
        font-weight: 700;
        color: #f28283;
      }

      .top .social {
        display: flex; 
        justify-content: center;
        margin-top: 36px;
        margin-bottom: 26px;
        gap: 24px;
      }

      .top .social a {
        border: 1px solid #1d2e36;
        border-radius: 50%;
        padding: 5px;
      }

      /* form */
.form_area form {
    display: flex;
    flex-direction: column;
  }
  
  .form_area .agree {
    font-size: 12px;
  }